.signout-button {
    display: flex;
    justify-content: center;
  }

.signout-button {
    margin: 0 5px 0 5px;
    padding: 10px 21px;
    background: #e27a3f;
    color: rgba(255,255,255, 0.75);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease-out;
    outline: 0;
    border: 0;
    user-select: none;
}

.signout-button:hover {
    color: white;
}