.search-field {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #e27a3f;
}

.search-field button {
    padding: 5px 15px;
    background: #e27a3f;
    color: rgba(255,255,255, 0.75);
    font-size: 1rem;
    cursor: pointer;
    transition: color 0.2s ease-out;
    outline: 0;
    border: 0;
    user-select: none;
    color: white;
    border-radius: 0 3px 3px 0;
}

.search-box {
    border-radius: 3px 0 0 3px;
    padding-left: 5px;
}

.search-box:focus {
    border-color: #e27a3f;
    outline: 0;
}