.movies {
  flex-basis: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 20px 0;
  justify-content: center;
}

.movies-list-container {
  width: 100%;
  height: 90vh;
  overflow-y: scroll;
}

/* 1440p support */
/* @media screen and (min-height: 1100px) {
  .movies-list-container {
    height: 90vh;
  }
} */
/* 4k support */
/* @media screen and (min-height: 1500px) {
  .movies-list-container {
    height: 90vh;
  }
} */

.pagination {
  display: flex; 
  justify-content: space-between;
  padding: 40px 20px;
}